# =============================================================================
# HuggingFace 
# =============================================================================
# Get your token at: https://huggingface.co/settings/tokens
HF_TOKEN=

# HuggingFace API endpoint (if using a custom endpoint)
HF_ENDPOINT_URL=""

# HuggingFace model repository (if using a custom model)
HF_REPO_ID=CongJ-Pan/XiaoHong-v1

# OpenRouter api
OPENROUTER_API_KEY=

# DeepInfra API
DEEPINFRA_API_KEY=